{
  "extends": [
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "airbnb",
    "airbnb/hooks"
  ],
  "rules": {
    "no-console": "warn",
    "prettier/prettier": "warn",
    "semi": ["warn", "always"],
    "quotes": ["warn", "double"],
    "comma-dangle": ["off", "never"],
    "linebreak-style": 0,
    "allowIndentationTabs": "off",
    "arrow-body-style": ["off", "never"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-one-expression-per-line": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": [2, {
      "html": "ignore",
      "custom": "ignore",
      "explicitSpread": "ignore",
      "exceptions": ["explicitSpread"]
  }]
  
  },
  "plugins": ["react", "jest"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  }
}